.container {
    width: 80%; margin: auto;
}

.topnav {
    background-color: #0085AD;
    overflow: hidden;
    box-shadow: 2px 2px 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #16C4FA;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0085AD;
  color: #ddd;
}

#container2 {
    width: 100%;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    width: 300px;
    float: left;
    height: 300px;
    margin-right: 50px;
    background: url(Shoe_Brands/Barkal/Flats/2/flat_2.png) no-repeat;
    display: inline-block;
}

#first:hover{
    background: url(Shoe_Brands/Barkal/Flats/2/flat_2_preview.png) no-repeat;
}

#second {
    width: 300px;
    float: left;
    height: 300px;
    background: url(Shoe_Brands/Confetti/Fuzzy_Sandals/1/fuzzy_2.png) no-repeat;
    display: inline-block;
}

#second:hover {
    background: url(Shoe_Brands/Confetti/Fuzzy_Sandals/1/fuzzy_angle.png) no-repeat;
}

#mid {
    clear: both;
}