/* Add a black background color to the top navigation */
.topnav {
  background-color: blue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: blue;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: blue;
  color: white;
}
